<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <%= appths%>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="<%= appname%> in vm.<%= appname%>s">
    <td style="width:120px;">
      <a href="{{<%= appname%>.url}}">
        <img alt="Icon175x175" class="img-responsive" ng-src="{{<%= appname%>.thumbnail}}" id="thumbnail">
      </a>
    </td>
    <%= apptds%>
    <td>
      <a href="{{<%= appname%>.website}}">
        <span>{{<%= appname%>.developer}}</span>
      </a>
    </td>
  </tr>
  </tbody>
</table>
