<div class="row" id="main-container">
  <div class='container' id="base-panel" data-ctrl="<%= appname%>s" data-ng-init="vm.get<%= appclassname%>s()">

    <div class="row">
      <div class="row cases-export-panel"
           ng-include="'/modules/_<%= appname%>s/client/views/_list-banner.client.view.html'"></div>
    </div>

    <div class="row">
      <div class="table-responsive" ng-include="'/modules/_<%= appname%>s/client/views/_list-table.client.view.html'"></div>
    </div>

    <div class="row text-center">
      <div class="pagination">
        <uib-pagination
          total-items="vm.totalItems" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="10">
        </uib-pagination>
      </div>
    </div>

  </div>
</div>
